.vs
Debug
СемантическийАнализатор.sln
СемантическийАнализатор/Debug
СемантическийАнализатор/СемантическийАнализатор.filters
СемантическийАнализатор/СемантическийАнализатор.vcxproj
СемантическийАнализатор/СемантическийАнализатор.vcxproj.user